/* resetar el estilo por defecto*/
* {
   margin: 0px;
   padding: 0px;
}
#inicio {
   width: 100%;
   height: 500px;
   margin: 0% 0% 0% 0%;   
   background-image: url("../imagenes/inicio.jpg");
   border-top: 0px solid #094660;
   /*background: -webkit-linear-gradient(top, transparent, #ffffff);*/
   /* background-attachment: scroll; */
}

#biografia {
   width: 50%;
   height: 500px;
   padding: 0px 0px;
   margin: auto;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center; 
}
#foto img {
   width: 150px;
   height: 150px;
   padding: 5px;
   border-radius: 50%;
   /*box-shadow: black 0px 0px 10px;
   border-top: 2.5px solid #4285F4;
   border-bottom: 2.5px solid #DB4437;
   border-left: 2.5px solid #F4B400;
   border-right: 2.5px solid #0F9D58;*/
}

#historia {
   display: flex;
   flex-direction: column;
   width: 300px;
   height: 250px;
   border-radius: 5%;
   
   /*border-top: 2.5px solid #7c7334;
   border-bottom: 2.5px solid #808080;*/
   box-shadow: #7c7334 0px 0px 5px;
}
#historia div h1 {
   text-align: center;
   font-size: 15px;
   color: #7c7334;
   width: 100%;
   padding: 15px 5px 5px 5px;
   margin: auto;
   box-sizing: border-box;
}
#historia div h2 {
   text-align: center;
   font-size: 10px;
   color: #333;
}
#historia div p {
   text-align: center;
   font-size: 15px;
   color: #333;
}
#ing {
   padding: 5px;
   box-sizing: border-box;
   border-bottom: 2.5px solid #444;
}
#cualidades {
   padding: 15px 5px 5px 5px;
   box-sizing: border-box;
}
#visionario {
   width: 50%;
   height: 25px;
   padding: 20px 0px 5px 0px;
   margin: auto;
   justify-content: center;
   align-items: center; 
}

